{% extends "blog/base.html" %}
{% block content %}
    <div class="well">
        <h4>Fill new information!</h4>
        <form role="form" method="POST" action="{% url 'create_user' %}" class="input-group">
            {% csrf_token %}
            <div style="display: flex;"><h5>New username: <input name="username" class="form-control"></h5></div>
            <div style="display: flex;"><h5>New first name: <input name="first_name" class="form-control"></h5></div>
            <div style="display: flex;"><h5>New last name: <input name="last_name" class="form-control"></h5></div>
            <div style="display: flex;"><h5>New email: <input type="email" name="email" class="form-control"></h5></div>
            <div style="display: flex;"><h5>New password: <input type="password" name="password" class="form-control"></h5></div>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </form>
        <h3>This will only create an account, you still have to log into it.</h3>
    </div>
{% endblock %}