{% if user.is_authenticated %}
    <div class="navbar-form navbar-right">
        <a href="{% url 'blog_logout' %}" class="btn btn-danger">Logout</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog/profile">Hello, {{user}}!</a></li>
    </ul>
{% else %}
    <form class="navbar-form navbar-right" method="POST" action="{% url 'blog_login' %}" role="form">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" placeholder="User" name="username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <a href="/blog/registration_user" style="text-decoration: none; color: black; border: 1px solid grey; padding: 10px; border-radius: 15px; background-color: green; color: white; vertical-align: middle; margin-left: 10px;" class="glyphicon glyphicon-plus"></a>
    </form>

{% endif %}